{% extends 'base.html' %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}

<div class="main">
  <div class="wrap">
	<!-- 第一栏  -->
	<div class="top">
		<!-- 头像与文字描述 -->
		<div class="user-home">
			<img id="logo" src="{{ url_for('static', filename='img/logo.jpg') }}" alt="公司LOGO">
		</div>

		<!-- 显示当前页面标题 -->
		<div class="show-header">
			<span>GPRS</span>
		</div>

		<!-- 显示当前日期 -->
		<div class="show-date">
			<span id="date" style="font-size: 20px;"></span>  <br>
			<span id="lunar" style="font-size: 15px;">甲午【马】年六月二十</span>
		</div>

		<!-- 显示当前时间 -->
		<div class="show-time">
			<span id="clock-time">22:45:45</span>
		</div>

		<!-- 显示当前天气 -->
		<div class="weather">
			<span id="wendu">18℃-30℃</span> <br />
			<span id="tianqi">晴</span>
			<span id="city">苏州</span>
		</div>

		<div class="weather_img">
			<img id="weatherPic" src="{{ url_for('static', filename='img/weather/sunny.png') }}" alt="天气图标">
		</div>
	</div>


	<div class="table-show">
		<table id="device-manage-table">
			<tr>
				<th>序号</th>
				<th>设备ID</th>
				<th>设备位置</th>
				<th>探头温度</th>
				<th>接触温度</th>
				<th>电量</th>
				<th>操作</th>
				<th>状态</th>
			</tr>
			<tr id="device-data">
				<td>1</td>
				<td>{{ data.device_id }}</td>
				<td>{{ data.location }}</td>
				<td>{{ data.tantou_wendu }} °C</td>
				<td>{{ data.jiechu_wendu }} °C</td>
				<td>{{ data.dianliang }}%</td>
				<td>
				    {% if data.status == 0 %}
				    	<button id="open" class="button-operation-off" type="button">开</button>
				    {% else %}
				    	<button id="open" class="button-operation-on" type="button">开</button>
				    {% endif %}					
					
				</td>
				<td>
				    {% if data.status == 0 %}
				    	<button id="open-status" class="button-status-off" type="button"></button>
				    {% else %}
				    	<button id="open-status" class="button-status-on" type="button"></button>
				    {% endif %}
					
				</td>
			</tr>
		</table>	
	</div>
  </div>
  </div>
</div>

{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  <script src="{{ url_for('static', filename='js/chinatime.js') }}"></script>
  <script src="{{ url_for('static', filename='js/weather.js') }}"></script>
  <script type=text/javascript>
  	$SCRIPT_ROOT = {{ request.script_root | tojson | safe }};


  </script>
{% endblock %}
