html {
	overflow:-moz-scrollbars-none;
}

body {
	width: 100%;
	height: 100vh;
	background: url("/static/img/background_entry.png") no-repeat;
	background-size: 100% 100%;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

::-webkit-scrollbar{
  display:none;
}
